<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 5px
    }
</style>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Route ID</th>
        <th>Route TXST ID</th>
        <th>Route Type</th>
        <th>Route Name</th>
        <th>Location</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Heading</th>
        <th>Heading Cardinal</th>
        <th>Speed</th>
        <th>Validated Speed</th>
        <th>Last Stop</th>
        <th>Last Stop Name</th>
        <th>Last Updated</th>
        <th>Time Since Last Update</th>
    </tr>

    {% for bus in buses %}
    <tr>
        <td>{{ bus.id }}</td>
        <td>{{ bus.name }}</td>
        <td>{{ bus.route_id }}</td>
        <td>{{ bus.route_dict.txst_id }}</td>
        <td>{{ bus.route_dict.friday }} {{ bus.route_dict.type }}</td>
        <td>{{ bus.route_dict.name }}</td>
        <td>{{ bus.location }}</td>
        <td>{{ bus.latitude }}</td>
        <td>{{ bus.longitude }}</td>
        <td>{{ bus.heading }}</td>
        <td>{{ bus.heading_cardinal }}</td>
        <td>{{ bus.speed }}</td>
        <td>{{ bus.validated_speed }}</td>
        <td>{{ bus.last_stop }}</td>
        <td>{{ bus.last_stop_dict.name }}</td>
        <td>{{ bus.last_update }}</td>
        <td>{{ bus.time_since_last_update }}</td>
    </tr>
    {% endfor %}
</table>
